<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "エラー") %> タスクの保存に失敗しました:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-6">
      <p><label>タスク名</label></p>
      <input type="text" class="form-control input-form" name="task[name]" value="<%=@task.name%>">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <p><label>タスク詳細</label></p>
      <textarea class="form-control input-form" name="task[detail]" rows="5"><%=@task.detail%></textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label>終了期限</label>
      <input type="date" class="form-control input-form" name="task[deadline]" value="<%=@task.deadline%>">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <p><label>ステータス</label></p>
      <%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]}, {}, {class: 'form-control input-form'} %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <p><label>優先順位</label></p>
      <%= form.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]}, {}, {class: 'form-control input-form'} %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-primary" name="commit">登録</button>
    </div>
  </div>
<% end %>
