<%= render 'layouts/header' %>

<%= render 'layouts/notice_message' %>

<div class="container-fluid">

  <div class="row">
    <h4> タスク一覧 </h4>
  </div>

  <%= form_with url:'/tasks', method: :get, local: true do |f| %>
  <%= f.hidden_field :search, value: 'true' %>
    <div class="row clearfix">
      <input type="text" class="form-control keyword-form clearfix" name="name" value="" placeholder="タスク名検索ワード">
      <select class="form-control keyword-form clearfix" name="status">
        <option value="" style="display: none;">ステータス検索</option>
        <option value=""></option>
        <option value="waiting">未着手</option>
        <option value="working">着手中</option>
        <option value="completed">完了</option>
      </select>
      <button type="submit" class="btn btn-primary search-btn" name="commit">検索</button>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
    </div>
    <div class="col-sm-4">
      <%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %>
    </div>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>タスク名</th>
        <th>タスク詳細</th>
        <th>終了期限</th>
        <th>ステータス</th>
        <th>優先順位</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td class="task_row"><%= task.name %></td>
          <td><%= task.detail %></td>
          <td><%= task.deadline %></td>
          <td><%= task.status_i18n %></td>
          <td><%= task.priority_i18n %></td>
          <td><%= link_to '詳細', task %></td>
          <td><%= link_to '編集', edit_task_path(task) %></td>
          <td><%= link_to '削除', task, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @tasks, left: 1, right: 3 %><br>

  <%= link_to 'タスクの登録', new_task_path %>

  <%= render 'layouts/footer' %>

</div>
