<h4>タスク詳細</h4>

<div class="row">
  <div class="form-group col-md-6">
    <label>タスク</label>
      <input type="text" readonly class="form-control show-form" value="<%=@task.name%>">
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label>タスク詳細</label>
    <textarea readonly class="form-control show-form" name="task[detail]" rows="5"><%=@task.detail%></textarea>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label>終了期限</label>
    <input type="date" readonly class="form-control show-form" value="<%=@task.deadline%>">
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label>ステータス</label>
    <input type="multiple" readonly class="form-control show-form" value="<%=@task.status_i18n%>">
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label>優先順位</label>
    <input type="multiple" readonly class="form-control show-form" value="<%=@task.priority_i18n%>">
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label>ラベル</label>
    <div>
      <% @task.labels.each do |label| %>
        <label class='badge badge-secondary'><%= label.name %></label>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-6">
    <%= link_to '編集', edit_task_path(@task) %>
    <%= link_to '戻る', tasks_path %>
  </div>
</div>
