  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarExample1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/tasks">タスク管理App!</a>
        </div>

        <div class="navbar-collapse navbar-right collapse" id="navbarExample1">
          <ul class="nav navbar-nav float-right">
            <% if current_user %>
              <p class="navbar-text"><%= link_to "#{current_user.name}", user_path(current_user.id) %></p>
              <li ><p class="navbar-text"><%= link_to "新規登録", new_task_path %></p></li>
              <li ><p class="navbar-text"><%= link_to "タスク一覧", tasks_path %></p></li>
              <% if current_user.admin %>
                <li ><p class="navbar-text"><%= link_to "ユーザ管理画面", admin_users_path %></p></li>
              <% end %>
              <li><p class="navbar-text"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></p></li>
              <% else %>
              <li ><p class="navbar-text"><%= link_to "新規登録", new_user_path %></p></li>
              <li ><p class="navbar-text"><%= link_to "ログイン", new_session_path %></p></li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>
